/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Aldrich';font-size: 22px;
    background-color: #121212; /* Dark background */
    color: #e0e0e0; /* Light text */
    padding: 20px;
  }
  
  nav {
    background-color: #1f1f1f; /* Slightly lighter dark shade for navbar */
    box-shadow: 0 2px 4px rgba(0,0,0,0.5); /* Darker shadow for depth */
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
  }
  
  #navbar img {
    width: 35px;
    height: 35px;
  }
  
  .navbar-icons {
    display: flex;
  }
  
  .navbar-icon {
    margin-left: 20px;
  }
  
  .navbar-icon img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    filter: invert(1); /* Invert icons for better visibility */
  }
  
  
  #schedule {
    margin-top: 20px;
  }
  
  h1, h3 {
    text-align: center;
    margin: 20px 0;
  }
  
  input[type="text"], input[type="button"] {
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #333; /* Darker border for inputs */
    background-color: #222; /* Dark input fields */
    color: #ddd; /* Light text for inputs */
  }
  
  input[type="button"] {
    background-color: #385280; /* Bright blue for contrast */
    color: white;
    cursor: pointer;
    border: none;
  }
  
  input[type="button"]:hover {
    background-color: #385280; /* Darker shade of blue on hover */
  }
  
  a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #82b1ff; /* Light blue for links */
    text-decoration: none;
  }
  
  #tokenInput {
    display: block;
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
    /* Container */
    #container {
      padding: 20px;
      width: 900px;
      text-align: left;
      margin-left: auto;
      margin-right: auto;
    }
    
    #header > div{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 10px;
      /*margin-bottom: 20px;*/
      
    }
    #monthDisplay{
      font-family: 'Aldrich';font-size: 22px;
      text-align: left;
      flex-grow: 1;
    }
    
    #header div,
    #weekdays div {
      width: 100px;
      padding: 10px;
      margin: auto;
      border-right: 2px solid #000000;
    }
    
    #weekdays {
      
      background-color: #385280;
      color: #ffffff;
      width: 775px;
      display: flex;
    }
    
    #calendar {
      width: 100%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
    }
    .day {
      width: 100px;
      padding: 10px;
      height: 100px;
      cursor: pointer;
      box-sizing: border-box;
      background-color: rgb(63, 63, 63);
      margin: 5px;
      box-shadow: 0px 0px 3px #CBD4C2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .day:hover {
      background-color: #233e6d;
    }
    
    .day + #currentDay {
      background-color:#385280;
    }
    .day + #currentDay:hover{
      background-color: #385280;
    }
    

    .week-view .day {
      width: 100px;
      padding: 10px;
      height: 450px;
      cursor: pointer;
      box-sizing: border-box;
      background-color: rgb(63, 63, 63);
      margin: 5px;
      box-shadow: 0px 0px 3px #CBD4C2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .week-view .day:hover {
      background-color: #385280;
    }
    
    .week-view .day + #currentDay {
      background-color:#694d00;
    }
    .week-view .day + #currentDay:hover{
      background-color: #385280;
    }
    


    .event {
      font-size: 10px;
      padding: 3px;
      background-color: #385280;
      color: white;
      border-radius: 5px;
      max-height: 55px;
      overflow: hidden;
    }
    .padding {
      cursor: default !important;
      background-color: rgb(63, 63, 63) !important;
      box-shadow: none !important;
    }
    
    #backButton {
      font-size: 1.15em;
      background-color: #385280;
      color: #ffffff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      width: 35px;
      cursor: pointer;
      box-shadow: 0px 0px 2px gray;
      border: none;
      outline: none;
      padding: 5px;
      border-radius: 5px;
      position: relative;
      margin-left: 0px;
    }
    #nextButton {
      font-size: 1.15em;
      background-color: #385280;
      color: #ffffff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      width: 35px;
      cursor: pointer;
      box-shadow: 0px 0px 2px gray;
      border: none;
      outline: none;
      padding: 5px;
      border-radius: 5px;
      position: relative;
      margin-left: 10px;
    }
    #weekButton{
      font-size: 1.15em;
      background-color: #385280;
      color: #ffffff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      width: 80px;
      cursor: pointer;
      box-shadow: 0px 0px 2px gray;
      border: none;
      outline: none;
      padding: 5px;
      border-radius: 5px;
      position: relative;
      margin-left: 10px;
    }
    #monthButton{
      font-size: 1.15em;
      background-color: #385280;
      color: #ffffff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      width: 80px;
      cursor: pointer;
      box-shadow: 0px 0px 2px gray;
      border: none;
      outline: none;
      padding: 5px;
      border-radius: 5px;
      position: relative;
      margin-left: 10px;
    }

    .times{
      width: 60px;
      padding: 10px;
      height: 450px;
      cursor: pointer;
      box-sizing: border-box;
      background-color: rgb(63, 63, 63);
      margin: 5px;
      box-shadow: 0px 0px 3px #CBD4C2;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    #loading {
      display: none; /* Initially hidden */
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 9999;
    }
      /* Style for the loading overlay */
    #loading-overlay {
      display: none; /* Initially hidden */
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
      z-index: 9998; /* Ensure it's above other elements but below the loading GIF */
    }
